.hidden {
  display: none;
}

#toast {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border-radius: 8px;
}
.slider-heading-brown {
  color: rgb(58, 58, 58);
  display: block;
  margin-top: 15px;
  font-size: 30px;
  letter-spacing: -1px !important;
  font-weight: bold;
}
