/* navbar css starts */

.text-underline {
  border-bottom: 1px solid #000;
  padding-bottom: 0px;
  padding-top: 10px;
  margin-bottom: 5px;
}
/* navbar css ends */
.header-cover-section {
  padding-bottom: 200px;
}
.banner-height-width {
  height: 800px;
}
.max-w-292 {
  max-width: 292px;
}
.max-w-200 {
  max-width: 200px;
}

/* slider css here */
.mySlides {
  display: none;
}
.slider-card {
  position: relative;
  max-width: 110px;
  height: 110px;

  /* Color/White (Background) */

  background: #ffffff;
  /* Shadow/Card */

  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
  border-radius: 24px;
  margin-bottom: 35px;
  padding: 20px;
}
.c-gap {
  column-gap: 20px;
}
.col-margin-top {
  margin-top: -35px;
}
.max-w-390 {
  max-width: 390px;
}
.slider-button {
  background: #8c8c8f;
  height: 2px;
  width: 32px;
  border: none;
}
.w3-black,
.w3-hover-black:hover {
  color: #fff !important;
  background-color: #000 !important;
}
.margin-top {
  margin-top: 60px;
}
.cursor-pointer {
  cursor: pointer;
}
.max-w-450 {
  max-width: 450px;
}
.margin-t {
  margin-top: 100px;
}
.milestone-numbering-img {
  padding-bottom: 40px;
}
.hidden {
  display: none;
}

#toast {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border-radius: 8px;
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .slider-card {
    max-width: 90px;
    height: 90px;

    margin-bottom: 30px;
    padding: 15px;
  }
  .max-w-450 {
    max-width: 321px;
  }
  .col-margin-top {
    margin-top: -15px;
  }
}
@media screen and (max-width: 767px) {
  .cursor-pointer {
    position: relative;
    top: -3px;
  }
  .we-help-brands .helping-features {
    padding-top: 24px;
  }
  .margin-t {
    margin-top: 0px;
  }
  .max-w-200 {
    padding-top: 15px;
  }
  .milestone-numbering-img {
    padding-bottom: 5px;
  }
}
